<h3>Work in progress</h3>
<p-table #dt1   [columns]="cols"
                [value]="this.requests$ | async"
                [paginator]="true" 
                [rows]="this.rows"
                dataKey="RequestID"
                selectionMode="single"
                [(selection)]="this.selectedRequest"
                (onRowSelect)="onRowSelect($event)"
                (onRowExpand)="onRowExpand($event)"
                (onPage)="onPage($event)">
        <ng-template pTemplate="caption">
            <div style="text-align: left">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" 
                pInputText size="50"
                placeholder="Global Filter"
                (input)="dt1.filterGlobal($event.target.value, 'contains')"
                style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th style="width: 2.25em"></th>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th style="width: 2.25em"></th>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <p-dropdown *ngSwitchCase="'CurrentState'" [options]="this.statusList" [style]="{'width':'100%'}"
                        (onChange)="dt1.filter($event.value, col.field, 'equals')"></p-dropdown>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td>
                    <a href="#" [pRowToggler]="rowData">
                        <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                    </a>
                </td>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <td [attr.colspan]="3">
                        <div class="ui-g">
                            <div class="ui-g-12">
                                <app-editable-post-table> </app-editable-post-table>
                            </div>
                        </div>
                    </td>
                </tr>
        </ng-template>
    </p-table>


<h3>Testing RowExpand with DropDown</h3>
<div class="ui-g">
    <div class="ui-g-12">
        <p-table #dt [columns]="cols" [value]="this.requests$ | async" [resizableColumns]="true" 
        [paginator]="true" [rows]="this.rows" [first]="first"
            dataKey="RequestID">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 2.25em"></th>
                    <th *ngFor="let col of columns" pResizableColumn [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
                <tr>
                        <th style="width: 2.25em"></th>
                        <th *ngFor="let col of columns" [ngSwitch]="col.field">
                            <p-dropdown *ngSwitchCase="'CurrentState'" [options]="this.statusList" [style]="{'width':'100%','z-index': '10'}"
                            (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                        </th>
                    </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
                <tr>
                    <td>
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded ? 'fa fa-fw fa-chevron-circle-down' : 'fa fa-fw fa-chevron-circle-right'"></i>
                        </a>
                    </td>
                    <td *ngFor="let col of columns">
                        {{rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns"> -->
            <!-- <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns"> -->
            <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                <tr>
                    <!-- <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <p-dropdown *ngSwitchCase="'CurrentState'" [options]="this.errorList" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown>
                    </th> -->
                    <td [attr.colspan]="3">
                        <div class="ui-g">
                            <div class="ui-g-12">

                                <app-editable-post-table> </app-editable-post-table>
                            </div>
                        </div>
                    </td>
                </tr>
                <!-- <tr>
                        <td [attr.colspan]="columns.length + 1">
                                <div class="ui-g-12 ui-md-12">
                                    <div class="ui-g">
                                        <div class="ui-g-12">
                                            <b>Vin:</b> {{rowData.TenantName}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Vin:</b> {{rowData.CurrentState}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Brand:</b> {{rowData.FileName}}
                                        </div>
                                        <div class="ui-g-12">
                                            <b>Color:</b> {{rowData.DateTime}}
                                        </div>
                                    </div>
                                </div>
                        </td>
                    </tr> -->
            </ng-template>

            <ng-template pTemplate="paginatorleft" let-state>
                <button pButton type="button" pTooltip="Save" icon="fa-save" (click)="save()">
                </button>
                <!-- NOT WORKING
                <p-button pTooltip="Delete"
                    icon="fa-trash-o" 
                    (click)="delete()"
                    class="ui-button-danger">
                </p-button>
            -->
                <button pButton type="button" pTooltip="Save" icon="fa-save" (click)="save()">
                </button>
            </ng-template>
            <ng-template pTemplate="paginatorright">
                {{ (this.requests$ | async)?.length }}
                <!-- Total Records: {{state.totalRecords}} -->
            </ng-template>
        </p-table>
    </div>
</div>

<h3>Working DropDown</h3>
<p-table #dt2 [columns]="cols" [value]="this.requests$ | async" [paginator]="true" [rows]="this.rows">
        <ng-template pTemplate="caption">
            <div style="text-align: right">        
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input type="text" pInputText size="50" placeholder="Global Filter" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                        <p-dropdown *ngSwitchCase="'CurrentState'" [options]="this.statusList" [style]="{'width':'100%','z-index': '10'}"
                        (onChange)="dt2.filter($event.value, col.field, 'equals')"></p-dropdown>
                    <!-- <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect> -->
                    <!-- <input *ngSwitchCase="'vin'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode)"> -->
                    <!-- <div *ngSwitchCase="'year'">
                        {{yearFilter}}
                        <i class="fa fa-close" (click)="yearFilter=null;dt.filter(null, col.field, col.filterMatchMode)" style="cursor:pointer"></i>
                        <p-slider [style]="{'width':'100%','margin-top':'8px'}" [(ngModel)]="yearFilter" [min]="1970" [max]="2010" (onChange)="onYearChange($event, dt)"></p-slider>
                    </div> -->
                    <!-- <p-dropdown *ngSwitchCase="'brand'" [options]="brands" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value, col.field, 'equals')"></p-dropdown> -->
                    <!-- <p-multiSelect *ngSwitchCase="'color'" [options]="colors" defaultLabel="All Colors" (onChange)="dt.filter($event.value, col.field, 'in')"></p-multiSelect> -->
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr [pSelectableRow]="rowData">
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
            </tr>
        </ng-template>
    </p-table>

<!-- <h3 class="first">Single Row Selection</h3>



            <p-table [columns]="cols" [value]="this.photos$ | async" [paginator]="true" [rows]="10" [first]="first" selectionMode="single" [(selection)]="selectedPhoto">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="paginatorLeft" let-state>
            {{state.first}}
             <button type="button" pButton icon="fa-refresh"></button>
     </ng-template>
    <ng-template pTemplate="paginatorRight">
            <button type="button" pButton icon="fa-cloud-upload"></button>
    </ng-template>  -->
<!-- 
    <ng-template pTemplate="summary">
            <div style="text-align: left">
                Selected Photo {{ this.totalPhotos }}: {{selectedPhoto ? selectedPhoto.id + ' - ' + selectedPhoto.title : 'none'}}
            </div>
            <div>
                There are {{this.totalPhotos}} photos
            </div>
    </ng-template> 
</p-table>

<!-- <p-paginator rows="10" pageLinkSize="3"    [rowsPerPageOptions]="[10,20,30]" (onPageChange)="paginate($event)"></p-paginator> -->
<!-- 

<h3>Basic Single Row Selection</h3>
<p-table
selectionMode="single" 
[(selection)]="this.selectedPhoto"
dataKey="id"
[value]="this.photos$ | async">
  <ng-template pTemplate="header">
      <tr>
          <th>id</th>
          <th>title</th>
          <th>url</th>
          <th>thumbnailUrl</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-photo>
      <tr>
          <td>{{photo.id}}</td>
          <td>{{photo.title}}</td>
          <td>{{photo.url}}</td>
          <td>{{photo.thumbnailUrl}}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="summary">
      <div style="text-align: left">
          Selected Photo: {{this.selectedPhoto ? this.selectedPhoto.id + ' - ' + this.selectedPhoto.title :'No Selection'}}
      </div>
  </ng-template>
</p-table>



<h3>Dynamic Columns</h3>
<p-table [columns]="cols" [value]="this.photos$ | async">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns">
                {{col.header}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
</p-table>
   -->