<div class="ui-g">
    <!-- Master  -->
    <div class="ui-g-6">
        <p-panel>
            <p-header>
                Master begin
            </p-header>
            <h3 class="first">steps</h3>
            <div class="ui-g-12">
                https://jsonplaceholder.typicode.com/comments
            </div>
            <div class="ui-g-12">
                npm install firebase angularfire2 @types/firebase
            </div>
            <div class="ui-g-12">
                >https://console.firebase.google.com/u/1/
            </div>
            <div class="ui-g-12">
                // Set the configuration for your app <br/>
                // TODO: Replace with your project's config object <br/>
                var config = apiKey:<br/>
                "apiKey", <br/>
                authDomain: "projectId.firebaseapp.com",<br/>
                databaseURL: "https://databaseName.firebaseio.com",<br/>
                storageBucket: "bucket.appspot.com" ; firebase.initializeApp(config);<br/>
                // Get a reference to the database<br/>
                service var database = firebase.database();
            </div>
            <div class="ui-g-12">
                <div class="ui-g-1">...</div>
            </div>
    <p-footer>
        Master end
    </p-footer>
    </p-panel>
</div>
<!-- Detail -->
<div class="ui-g-6">
    <p-panel>
        <p-header>
            Detail begin
        </p-header>
        <app-editable-post-table>
        </app-editable-post-table>
        <p-footer>
            Detail end
        </p-footer>
    </p-panel>

</div>
</div>