<div class="ui-g">
  <!-- Master  ###################################################################### -->
  <div class="ui-g-6">
    <p-panel>
      <p-header>
        Master begin
      </p-header>
      <div class="ui-g">
        <div class="ui-g-12">
          <div pDraggable="dd">Draggable Div</div>
        </div>
        <div class="ui-g-12">
          <div pDraggable="pnl" dragHandle=".ui-panel-titlebar">
            <p-panel header="Drag Header">
              The story begins as Don Vito Corleone, the head of a New York Mafia family, oversees his daughter's wedding. His beloved
              son Michael has just come home from the war, but does not intend to become part of his father's business. Through
              Michael's life the nature of the family business becomes clear. The business of the family is just like the
              head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever
              anything stands against the good of the family.
            </p-panel>
          </div>
          <div class="ui-g-12">
            <div class="ui-grid ui-grid-pad ui-grid-responsive">
              <div class="ui-grid-col-12 ui-widget-content" style="border-right:0 none">
                <div class="ui-grid-row">
                  <ul style="margin:0;padding:0">
                    <li *ngFor="let car of availableCars" class="ui-state-default ui-helper-clearfix" pDraggable="cars" (onDragStart)="onDragStart($event,car)"
                      (onDragEnd)="onDragEnd($event)">
                      <i class="fa fa-arrows fa-2x" style="float:right;margin-top:8px"></i>
                      <img src="assets/showcase/images/demo/car/{{car.brand}}.png" style="float:left" draggable="false">
                      <div style="margin:8px 0 0 8px;float:left">{{car.vin}} - {{car.year}}</div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        Master end
      </p-footer>
    </p-panel>
  </div>
  <!-- Detail ####################################################################### -->
  <div class="ui-g-6">
    <p-panel>
      <p-header>
        Detail begin
      </p-header>
      <div class="ui-g">
        <div class="ui-g-12">
          <div pDroppable="dd" (onDrop)="onDrop($event)">Droppable Div</div>
        </div>
      </div>
      <div class="ui-g">
        <div class="ui-g-12">
          <div class="ui-grid ui-grid-pad ui-grid-responsive">
            <div class="ui-grid-row">
              <div class="ui-grid-col-12 ui-widget-content" 
                pDroppable="cars" (onDrop)="onDrop($event)" [ngClass]="{'ui-state-highlight':draggedCar}">
                <!-- <p-dataTable [value]="selectedCars">
                  <p-column field="vin" header="Vin"></p-column>
                  <p-column field="year" header="Year"></p-column>
                  <p-column field="brand" header="Brand"></p-column>
                  <p-column field="color" header="Color"></p-column>
                </p-dataTable> -->

                <p-dataTable [value]="selectedCars"
                [editable]="true"
                [(selection)]="this.selectedPropertyNameElement"
                [rows]="5"
                dataKey="vin"
                [paginator]="true" [pageLinks]="3" 
                [rowsPerPageOptions]="[5,10,20]" 
                (onRowSelect)="onRowSelect($event)"
                (onEditInit)="onEditInit($event)"
                (onRowClick)="onRowClick($event)"
                (onEdit)="onEdit($event)">
                <p-column [style]="{'width':'38px'}" selectionMode="single">
                    <!-- <ng-template  pTemplate="body">
                        <i class="fa-trash-o"></i>
                    </ng-template> -->
                </p-column>
                <p-column field="vin" header="Vin" [editable]="true"></p-column>
                <p-column field="year" header="Year" [editable]="true"></p-column>
                <p-column field="color" header="Color" [editable]="true"></p-column>
                <p-column field="brand" header="Brand">
                    <ng-template let-col let-mastermodel="rowData" pTemplate="body">
                        <img src="assets/showcase/images/demo/car/{{mastermodel[col.field]}}.png"
                        height="40%">
                    </ng-template>
                </p-column>
                </p-dataTable>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p-footer>
        Detail end
      </p-footer>
    </p-panel>
  </div>
</div>